@using Microsoft.AspNetCore.Components.Routing
@using DHL.Client.Shared

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <FocusOnNavigate RouteData="@routeData">
            <PageTitle>My Blazor App</PageTitle>
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </FocusOnNavigate>
    </Found>
    <NotFound>
        <PageTitle>Page Not Found</PageTitle>
        <h3>Stránka nebyla nalezena.</h3>
    </NotFound>
</Router>


